// COLORS
$primary-color: #fff;
$letter-color: #8953e6;
$value-color: #eb1633;
$green-color: green;

$dark-gray:#303235;
$white-google: #e8eaed;
$sky-blue-google: #8ab4f8;
$sky-gray-google: #9aa0a6;
// SIZES
