<div class="container-promo-card">
  <div class="container-promo-card__container-image">
    <img [src]="promoCard.img" alt="" />
  </div>
  <div *ngIf="promoCard.menuItems" (click)="openOrCLoseMenu()" class="container-promo-card__icon-menu">
    <i class="fas fa-ellipsis-v"></i>
  </div>
  <div *ngIf="isClosed" class="menu">
    <div class="container-menu">
      <div *ngFor="let item of promoCard.menuItems" class="menu__item"
      (click)="onClickEmmitter(promoCard.id,item.id)"
      >
        <i class="fas fa-angle-right"></i> {{item.name}}
      </div>
    </div>
    <div class="menu__icon-close-menu">
      <i
        (click)="openOrCLoseMenu()"
        class="fas fa-times menu__pointer-close"
      ></i>
    </div>
  </div>
  <div class="container-promo-card__title">{{ promoCard.name }}</div>
  <div class="container-promo-card__weight">{{ promoCard.size }}</div>
  <div class="container-promo-card__price">${{ promoCard.price }}</div>
</div>
