<div class="container-card">
  <div class="container-card__close-icon">
    <i class="fas fa-times"></i>
  </div>
  <div class="container-card__img-icon container-card__top-borders">
    <img
      [src]="configCity.img"
      class="container-card__top-borders"
      alt="Catedral Popayan"
    />
  </div>
  <div class="container-card__container-text">
    <div class="container-card__city">
      {{ configCity.city_name }}
    </div>
    <div class="container-card__subtitle">
      {{ configCity.subtitle }}
    </div>
    <div class="container-card__text">
      <p>{{ configCity.description }}</p>
    </div>
  </div>
  <div class="container-card__container-btn">
    <app-button-google
      (resultEvent)="sendInfo($event)"
      [labelBtn]="configCity.labelBtn"
    ></app-button-google>
  </div>
</div>
