@import "../../styles/base";
@import "../../styles/typography";

.container-card {
  height: 500px;
  width: 100%;
  background-color: $dark-gray;
  border-radius: $ten-pixels;
  box-shadow: $ten-pixels $ten-pixels $ten-pixels $ten-pixels rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  position: relative;
  font-family: Roboto, sans-serif;

  &__top-borders {
    border-top-left-radius: $ten-pixels;
    border-top-right-radius: $ten-pixels;
  }

  &__img-icon {
    height: 40%;
    width: 100%;
  }

  &__img-icon img {
    height: 100%;
    width: 100%;
  }

  &__container-text {
    padding: 24px;
    color: $white-google;
  }

  &__city {
    font-size: 22px;
    font-weight: 500;
  }

  &__subtitle {
    margin-top: 4px;
    font-size: $medium-letter-size;
    color: $sky-gray-google;
  }

  &__text {
    margin-top: 16px;
    font-size: $medium-letter-size;
  }

  &__container-btn {
    padding-left: 20px;
  }

  &__plane-icon{
    height: 50px;
    width: 50px;
    position: absolute;
    right: $ten-pixels;
    top: 176px;
    background-color: $sky-blue-google;
    padding: 12px;
    text-align: center;
    border-radius: 100%;
  }

  &__close-icon {
    height: 40px;
    width: 40px;
    color: $white-google;
    position: absolute;
    top: $ten-pixels;
    right: $ten-pixels;
    text-align: center;
    padding: 7px;
    border-radius: 100%;
    cursor: pointer;
  }

  &__close-icon:hover {
    opacity: 0.4;
    border: 1px solid $white-google;
  }

  &__close-icon i {
    font-size: 22px;
  }
}
