<div class="container-table">
  <div class="table-header">
    <div class="column-item">Id</div>
    <div class="column-item">Cedula</div>
    <div class="column-item">Nombres</div>
    <div class="column-item">Celular</div>
  </div>

  <div class="table-body">
    <div class="row-element">
      <div class="row-item">1</div>
      <div class="row-item">1031564646</div>
      <div class="row-item">Alejandro Martinez</div>
      <div class="row-item">3175665454</div>
    </div>

    <!-- <div class="row-element">
      <div class="row-item">2</div>
      <div class="row-item">1061687685</div>
      <div class="row-item">Andres Collazos</div>
      <div class="row-item">3177355670</div>
    </div>

    <div class="row-element">
      <div class="row-item">3</div>
      <div class="row-item">123456878</div>
      <div class="row-item">Edgar Arciniegas</div>
      <div class="row-item">312456877</div>
    </div>

    <div class="row-element">
      <div class="row-item">4</div>
      <div class="row-item">123456456</div>
      <div class="row-item">Adolfo Acevedo</div>
      <div class="row-item">32145698778</div>
    </div> -->
  </div>
</div>



<!-- Movile Table -->
<div class="container-table">
  <div class="table-header">
    <div class="column-item">Id</div>
    <div class="column-item">Cedula</div>
    <div class="column-item">Nombres</div>
    <div class="column-item">Celular</div>
  </div>

  <div class="table-body">
    <div class="row-element">
      <div class="row-item">2</div>
      <div class="row-item">1061687685</div>
      <div class="row-item">Andres Collazos</div>
      <div class="row-item">3177355670</div>
    </div>
  </div>
</div>
